@mixin clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

@mixin revertAbsCenter {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0)
}


// Media query Manager

/*
0 -- 600px:  Phone
600px -- 900px: Tablet Portrait
900px -- 1200px: Tablet Landscape
1200px - 1800px: Normal style apply

1800px -- + : Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/

@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {@content} // 600px
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {@content}  // 900px
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {@content} // 1200px
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {@content} // 1800px
  }
}